@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#customlist{
	margin-top: 0;
}

#customlist li{
	display: inline;
	list-style-type:none;
	padding-right:20px;
}

#nav {
	margin-left:5%;
	margin-top:5px;
	line-height:30px;
	background-color:#eeeeee;
	height:465px;
	width:39%;
	float:left;
	padding:5px;
	overflow:scroll;
}

#section1 {
	margin-right:5%;
	margin-top:5px;
	margin-left:5px;
	background-color:#EFEFEF;
	width:48%;
	height:455px;
	float:left;
	padding:10px;
	overflow:scroll;
}

/*
#footer {
	position: absolute;
	width: 99%;
	background-color:#787878;
    height: 80px;
	bottom: 0;
}
*/