@(ModellinginfrastructureForm: Form[Modellinginfrastructure])
@main("Example"){
	<div style = "position: fixed;top: 30px;left: 400px">
		<h1>Select the modelling infrastructure name</h1>
		<table>
			<tr>
				<td>
				Name:
				</td>
				<td>
	        	<select id="name" name="name" onchange="onDropDownSelection()">
                	<option value="ESMF" >ESMF</option>            
                	<option value="CSDMS" >CSDMS</option>            
                	<option value="OASIS" >OASIS</option>
                	<option value="MCT" >MCT</option>
        		</select>
        		</td>
			</tr>
		</table>
	</div>
	<div id = "datadiv" style = "position: fixed;top: 170px;left: 400px">
	
	</div>
}