@(title: String = "front")

<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/jqwidgets/styles/jqx.base.css")" type="text/css" />
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap-3.3.2-dist/css/bootstrap.min.css")" type="text/css" />  
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" type="text/css" />   
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/scripts/jquery-1.11.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxcore.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxdockpanel.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxbuttons.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxscrollbar.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxdatatable.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxtreegrid.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxdata.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxcheckbox.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxlistbox.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxsplitter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jqwidgets/jqxtooltip.js")"></script>
    
    <script type="text/javascript" src="@routes.Assets.at("bootstrap-3.3.2-dist/js/bootstrap.min.js")"></script>
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
    
    
</head>
<body>
	
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Earth System Modeling Infrastructure Explorer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Search</a></li>
            <li><a href="#about">Compare</a></li>
            <li><a href="#contact">Connect</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


	<div class="container">
		<div id="nav">
			<div id="TreeGrid">
			</div>
		</div>
		<div id="section1">
			<center><h1>Results<h1></center>
			<form action="javascript:getValues()">
			<table>
				<tr>
					<td><input type="submit" name="modellingframework"></td>
				</tr>
			</table>
			<div id="table_hook">
				
			</div>
			</form>
		</div>
		<div id="footer">
		</div>
	</div>
	
	<footer class="footer">
      <div class="container">
        <p class="text-muted">This project supported by the National Science Foundation.  <a href="http://www.earthsystemcog.org/projects/es-fdl"/>ES-FDL Home Page</a></p>
      </div>
    </footer>
    
</body>
</html>