@(title: String = "search")
@master(""){
            <li><a href="/browse">Browse</a></li>
            <li class="active"><a href="/search">Search</a></li>
            <li><a href="/connect">Connect</a></li>
            <li><a href="/about">About</a></li>
}{
	<div class="container">
		<div id="section1">
			<center><h1>Search<h1></center>
				<table>
					<tr>
						<td><a href="/properties/ESMF">ESMF</a></td>
					</tr>
					<tr>
						<td><a href="/properties/CSDMS">CSDMS</a></td>
					</tr>
					<tr>
						<td><a href="/properties/OASIS">OASIS</a></td>
					</tr>
					<tr>
						<td><a href="/properties/MCT">MCT</a></td>
					</tr>
				</table>
		</div>
	</div>
}{
}