@(propandvals: PropertiesAndValues, modellinginfraname: String)
@main("Example"){

<h1>Properties and values of @modellinginfraname</h1>

<h2>Object properties</h2>
<ul>
	@for((key, value) <- propandvals.objpropandval){
		<li>@key
			<ul>
				@for(index <- 0 until value.size){
					<li>@value(index)</li>
				}
			</ul>
		</li>
	}
</ul>

<h2>Data properties</h2>
<ul>
	@for((key, value) <- propandvals.datapropandval){
		<li>@key
			<ul>
				@for(index <- 0 until value.size){
					<li>@value(index)</li>
				}
			</ul>
		</li>
	}
</ul>
}